body {
    color: rgb(48, 39, 30);
    background: rgb(41, 24, 15);
    font-family: "Lobster", sans-serif;
}
section {
    background: rgb(214, 180, 141);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}